
.hero-title {
  @include card-style;
  @include transparent-bg($foreground, 0.5);
  height: fit-content;
  transition: all 0.7s ease-in-out;
  cursor: pointer;
  max-width: fit-content;
  h1 {
    transition: all 0.7s ease-in-out;
    font-weight: 400;
    font-style: normal;
    color: $text-light;
    font-size: 4rem;
    line-height: 4rem;
    text-align: center;
  }
  
  &:hover {
    @include transparent-bg($foreground, 0.8);
    h1 {
      color: $text-light;
      @include text-shadow-pop-left;
    }
  }
}

.hero-title[is-open="true"] {
  h1 {
    color: $text-light;
  }
}

.content {
  color: $text-gray-lighter;
  text-align: center;
  line-height: 1rem;
  max-width: 70%;
  margin: 0 auto;
}

.content[is-open="false"] {
  height: 0;
  opacity: 0;
}
.content[is-open="true"] {
  height: fit-content;
  @include swing-in-top-fwd;
}
