
.hero-title {
  @include card-style;
  @include transparent-bg($foreground, 0.5);
  height: fit-content;
  transition: all 0.7s ease-in-out;
  
  h1 {
    transition: all 0.7s ease-in-out;
    font-weight: 400;
    font-style: normal;
    color: $text-gray-lighter;
    font-size: 5rem;
    line-height: 5rem;
  }
  
  &:hover {
    @include transparent-bg($foreground, 0.8);
    h1 {
      color: $text-gray-light;
    }
  }
}

.hero-title[is-open="true"] {
  h1 {
    @include text-shadow-pop-left;
  }
}

.content {
  color: $text-gray-lighter;
  text-align: right;
  line-height: 2rem;
}

.content[is-open="false"] {
  height: 0;
  opacity: 0;
}
.content[is-open="true"] {
  height: fit-content;
  @include swing-in-top-fwd;
}
