.listbox-area {
  @include card-style;
  padding: 0;
  @include transparent-bg($foreground, 0.5);
  overflow: hidden;
}

.listbox-area [role="listbox"] {
  &:focus,
  :focus-visible {
    border: 1px solid $border;
  }
  &:focus-visible {
    outline: none;
  }
}
.listbox-area [role="listbox"][slide="false"] {
  opacity: 0;
}
.listbox-area [role="listbox"][slide="true"] {
  @include swing-in-top-fwd;
}

.listbox-area [role="listbox"] [role="group"] {
  li[role="presentation"] {
    @include transparent-bg($secondary, 0.8);
    h4 {
      text-align: center;
      font-size: 3rem;
      text-transform: uppercase;
    }
    
  }
  li[slide="true"] {
    @include slide-in-blurred-left;
  }
  li[role="option"] {
    &:not(:last-child) {
      border-bottom: 1px solid $border;
    }
    &:hover {
      div {
        div:last-child{
          @include transparent-bg($secondary-light, 0.1);
        }
      }
    }
    div {
      display: flex;
      justify-content: space-between;
      div {
        padding: 1rem;
        display: flex;
      }
      div:first-child {
        @include transparent-bg($secondary-dark, 0.5);
        width: 220px;
        justify-content: end;
      }
      div:last-child {
        width: 580px;
      }
    }
  }
}

@for $i from 1 to 10 {
  .listbox-area
    [role="listbox"]
    [role="group"]
    li[role="option"]:nth-child(#{$i}) {
    animation-delay: $i * 0.1s + 0.4s;
  }
}
