.pagination-extended-wrapper{
    @include full-size;
    @include transparent-bg($primary-dark, 0.5);
    @include absolute-full-size;
    border-radius: 1rem !important;
    transition: all .3s ease-in-out;
}
.pagination-extended-wrapper[is-open=true] {
    right: unset;
    width: fit-content;
    padding-inline: 3rem;
}