@import "./colors.scss";

@mixin content-padding-inline {
  padding-inline: 4rem;
}

@mixin full-size {
  width: 100%;
  height: 100%;
}

@mixin transparent-bg($bgcolor, $opacity) {
  background: rgba($bgcolor, $opacity) !important;
}

@mixin absolute-full-size {
  position: absolute;
  inset: 0;
}

@mixin card-style($padding: 1rem) {
  box-sizing: border-box;
  border-radius: 0.75rem;
  padding: 1rem;
  @if $padding != 1rem {
    padding: $padding;
  }
}
